# `AA Workshop 3` â€” Coding Challenge

Complete the tasks below to practice working with NumPy & Pandas from `W3_NumPy_Pandas.ipynb`.

Guidelines:
- Work in order. Run each cell after editing with Shift+Enter.
- Keep answers short; focus on making things work.
- If a step fails, read the error and fix it.

By the end you will have exercised:
- iterable comprehensions
- working with NumPy & Pandas
- data manipulation and analysis

## Task 1 - NumPy Arrays & List Comprehensions

Create a function `generate_random_arrays(k)` that generates k numpy arrays using list comprehensions. Each array should:
- Have length i (where i goes from 1 to k)
- Be filled with random integers in range (1, i+1)
- Use list comprehensions for the implementation

When called, the function should print all generated arrays (one array per line).

In [15]:
# your code here
import numpy as np

## Task 2 - Image Reconstruction with Array Operations

Reconstruct a hidden image by combining and reshaping two arrays! You'll need to use NumPy's stacking and reshaping functions to piece together the complete picture.

**Your Tasks:**
1. Load the two arrays provided below
2. Figure out how to combine them to reconstruct the original image
3. Display the reconstructed image
4. The image should show a clear pattern when correctly reconstructed

**Hint:**
You can use `plt.imshow(...)` to visualize arrays.

In [17]:
from matplotlib import pyplot as plt # we need this for visualization purposes
import numpy as np

arr1 = np.load('array1.npy')
arr2 = np.load('array2.npy')

# your code here

## Task 3 - Pandas Data Analysis with Titanic Dataset

Analyze the famous Titanic dataset to answer specific questions about passenger survival patterns. You'll need to use various Pandas functions to explore and analyze the data.

**Dataset**: The Titanic dataset contains information about passengers including age, gender, class, fare, and survival status.

**Skills you'll practice:**
- Data exploration with `info()` and `describe()`
- Missing data analysis with `isnull()` and `dropna()`
- Data aggregation with `groupby()`
- Boolean masking for filtering
- Statistical analysis and reporting

In [18]:
import pandas as pd
import seaborn as sns

# load the dataset
data = sns.load_dataset('titanic')

data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

**Answer the following questions using Pandas operations:**

1. **Data Overview**: Get basic summary information about the dataset (number of observations, column data types etc.)
2. **Missing Data**: How many observations with missing values are there? Which column seems particularly problematic and how would you deal with it?
3. **Survival by Gender**: What percentage of males vs females survived?
4. **Age Analysis**: What's the average age of survivors vs non-survivors?
5. **Class vs Survival**: Which passenger class had the highest survival rate?
6. **Young Survivors**: How many passengers under 18 survived?

In [ ]:
# your code here