# `AA Workshop 4` — Coding Challenge

Complete the tasks below to practice visualization techniques from `W4_Visualization.ipynb`.

Guidelines:
- Work in order. Run each cell after editing with Shift+Enter.
- Keep answers short; focus on making things work.
- If a step fails, read the error and fix it.

By the end you will have exercised:
- Core `matplotlib` plotting (scatter, line, histogram) with labels, legends, titles
- `seaborn` high-level plotting
- Styling and theming your plots
- Generating, loading, preparing, and plotting time-series data

## Task 1 - Visualizing the Iris dataset

Read in the already familiar `iris.csv` dataset (available in the `data` folder). Drop missing values. Then, generate the following plots:
1. a simple scatter plot of the "Petal.Width" and "Petal.Length" features using matplotlib. Color the data points based on "Species". Annotate your graph and size it appropriately.
2. the same scatter plot but using seaborn.
3. a histogram of "Sepal.Length". Again, color the data points based on "Species" and annotate your graph.
4. a pairplot to uncover as many relationships as possible. Again, color-code by "Species".

In [21]:
# your code here
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

Iris_set = pd.read_csv('../data/iris.csv', index_col="number")
Iris_set.head()

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
number
1                5.1          3.5           1.4          0.2  setosa
2                4.9          3.0           1.4          0.2  setosa
3                4.7          3.2           1.3          0.2  setosa
4                4.6          3.1           1.5          0.2  setosa
5                5.0          3.6           1.4          0.2  setosa

In [23]:
#1
Iris_set.isnull()

        Sepal.Length  Sepal.Width  Petal.Length  Petal.Width  Species
number
1              False        False         False        False    False
2              False        False         False        False    False
3              False        False         False        False    False
4              False        False         False        False    False
5              False        False         False        False    False
...              ...          ...           ...          ...      ...
146            False        False         False        False    False
147            False        False         False        False    False
148            False        False         False        False    False
149            False        False         False        False    False
150            False        False         False        False    False

[150 rows x 5 columns]

## Task 2 - Comparing Trends on Google

Go to https://trends.google.de/trends/explore. Think about two or more search terms that you would like to compare over time. You can also adjust the considered time horizon (e.g., 1 year, 5 years etc.) and geography (e.g., Germany, worldwide etc.). 

1. Export your generated data by hitting the download icon in the top-right corner of the line plot.
2. Load your data into a dataframe and inspect it.
3. Re-create the line plot from Google trends using matplotlib or seaborn. You might have to transform your dataframe first.
4. Optimize the appearance of your plot by using an aquarel theme.

In [ ]:
# your code here